/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-Sep-2017, 14:06:06
    Author     : shazeed ahsan
*/
html { background: #C6D6F3; }
body { background: #FFF; width: 960px; margin: 0 auto; font-family: sans-serif; padding-bottom: 5px; }
header { background: #FCF6F6; height: 40px; padding: 20px; }
article { padding: 20px; }
footer { background: #EEE; border: 1px solid #999; margin: 5px 10px; padding: 0 10px; }
/* Headings */
header h1 { color: #581A24; margin: 0; }
h2 { margin: 0; color:brown }
/* Form Elements */
form p { font-weight: bold; margin: 0; }
input { margin-bottom: 20px; } 
textarea { display: block; margin-bottom: 10px; height: 240px; width: 480px;} 
/* Error validation */ 
.error { color: red; font-weight: bold; }

.transaction_table{
	border-collapse:collapse;
}

.transaction_table_header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}

.transaction_table_odd_row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}

.transaction_table_even_row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}
